*,
*::before,
*::after {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    color: #000;
}

img {
  max-width: 300px;
}